@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&family=Poppins:wght@200;300;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 11px;
  /* @apply bg-slate-100 dark:bg-gray-800 ; */
}
::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-indigo-500;
}
.hide-scroll-bar::-webkit-scrollbar {
  width: 0px !important;
}
.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
  /* background: rgb(68, 89, 224) */
}

:is(.dark .react-loading-skeleton) {
  --base-color: #9c9c9c !important;
  --highlight-color: #ebeaea;
}
code {
  white-space: pre-wrap;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 4px;
}