@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&family=Poppins:wght@200;300;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
  /* background-color: #4b5563; */
}

/* aside.EmojiPickerReact.epr-main{
  @apply !absolute top-0 dark:!bg-gray-800;
} */