@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700;800&family=Poppins:wght@200;300;500;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

:root {

  --glow-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 11px;
  /* @apply bg-slate-100 dark:bg-gray-800 ; */
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-indigo-500;
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}


.hide-scroll-bar::-webkit-scrollbar {
  width: 0px !important;
}

.paddings {
  padding: 1.5rem;
}

.innerWidth {
  width: 100%;
}

.react-loading-skeleton {
  --base-color: #dadada !important;
  --highlight-color: #ffffff;
}

.dark .react-loading-skeleton {
  --base-color: #9c9c9c !important;
  --highlight-color: #ebeaea;
}

.dark {
  --glow-color: #0fe66198;
}

@keyframes flash {
  0% {
    @apply bg-green-500/30;
  }

  50% {
    background-color: transparent;
  }

  100% {
    @apply bg-green-500/30;
  }
}

.highlighted {
  @apply rounded-lg;
  animation: flash 0.9s linear 4;
}

@keyframes glow {
  100% {
    transform: translateX(100%);
  }
}

.heigh-light {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, #eeeeee11, var(--glow-color), #eeeeee11);
  transform: translateX(-100%);
  animation: glow 7.5s normal ease-in-out infinite;
  z-index: -1;
}

.ql-toolbar.ql-snow {
  @apply bg-gray-100/90
}

.ql-syntax {
  white-space: pre-wrap;
}

.message a {
  @apply underline text-blue-500 underline-offset-2;
}

.last-message .ql-syntax {
  @apply truncate;
}
[dir="rtl"] div[class^="grid place-items-center absolute"] {
  right: unset;
  left: 0.75rem !important;
}